
Database/TeacherStudentDB.mdf
Database/TeacherStudentDB_log.ldf
Database/SMS.mdf
Database/SMS_log.ldf
TeacherStudentManagementSystem/.vs/TeacherStudentManagementSystem/FileContentIndex/19cc2caf-d809-41e5-a9b4-c6f61163adf2.vsidx
TeacherStudentManagementSystem/.vs/TeacherStudentManagementSystem/FileContentIndex/090e7ea3-5765-4b21-a9f2-8a490e81aa43.vsidx
TeacherStudentManagementSystem/.vs/TeacherStudentManagementSystem/FileContentIndex/6adf7764-2120-4861-9173-eea6d6d9b4d7.vsidx
TeacherStudentManagementSystem/.vs/TeacherStudentManagementSystem/FileContentIndex/894581ad-8b48-4a3f-b9b3-02353433d2d7.vsidx
TeacherStudentManagementSystem/.vs/TeacherStudentManagementSystem/FileContentIndex/6adf7764-2120-4861-9173-eea6d6d9b4d7.vsidx
TeacherStudentManagementSystem/.vs/TeacherStudentManagementSystem/FileContentIndex/6adf7764-2120-4861-9173-eea6d6d9b4d7.vsidx
TeacherStudentManagementSystem/.vs/TeacherStudentManagementSystem/FileContentIndex/6adf7764-2120-4861-9173-eea6d6d9b4d7.vsidx
TeacherStudentManagementSystem/.vs/TeacherStudentManagementSystem/FileContentIndex/c5b7e04e-e9aa-4e03-8a93-7020b426a955.vsidx
TeacherStudentManagementSystem/.vs/TeacherStudentManagementSystem/FileContentIndex/cecee0de-c934-4696-9694-1989f976a4fb.vsidx
TeacherStudentManagementSystem/.vs/TeacherStudentManagementSystem/FileContentIndex/6adf7764-2120-4861-9173-eea6d6d9b4d7.vsidx
TeacherStudentManagementSystem/.vs/TeacherStudentManagementSystem/FileContentIndex/0426f653-f3b8-4e22-ac32-d4c87da9cefd.vsidx
