@using System.Configuration
@model DataLayer.Users
<div style="direction: rtl; padding: 20px">
    <h2> Dear @Model.Name  !</h2>
    <p>for changing your password click on the link below !</p>
    <p>
        <a href="@ConfigurationManager.AppSettings["MyDomain"]/Account/RecoveryPassword/@Model.UserName">Activate Link</a>
    </p>
</div>
