@model DataLayer.Users
@{
    ViewBag.Title = "Recovery Password";
}

<div class="alert alert-success">
    <h2>Dear @Model.Name  .</h2>
    <p>we have sent email to your email address " @Model.EmailAddress " please click on the link and change your password  .</p>
</div>
